{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}


<br>



<div class="container">

  {% for day in weekdays %}
  <table class="table table-hover">
    {% if forloop.first %}
    <thead class="thead-light">
      <tr>
        <th scope="col">Today</th>
      </tr>
    </thead>
    {% else %}
    <thead class="thead-light">
      <tr>
        <th scope="col">{{ day.day}}</th>
      </tr>
    </thead>
    {% endif %}

    {% for hour in day.temp_by_hour %}

    <tbody>
      <tr>
        <th scope="row">{{hour.hour}}<img src='http://openweathermap.org/img/w/{{hour.icon}}.png' alt="Card image cap"  height="50" /></th>
        <td>{{hour.description}}</td>
        <td><p>{{hour.temperature}} °C</p></td>
      </tr>
    </tbody>


    {% endfor %}

  </table>

  {% endfor %}

</div>



{% endblock %}
