{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}


<br>


<div class="album py-5 bg-light pt-3">
  <div class="container">


    <div class="row">

      {% for day in weekdays %}

      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">

          <div class="card-body">
      <!--   <h4 class="card-text"> {{ city.city_name }} </h4> -->

            <p class="card-text"> {{ day.day}} </p>
            <ul>
              {% for hour, temperature in day.temp_by_hour %}
                <li>{{hour}}</li>
                <li>{{temperature}}° C</li>
              {% endfor %}
            </ul>
<!--        <p class="card-text"> {{ day.temp_by_hour }}° C </p> -->
          </div>

        </div>
      </div>

      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
