{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}


<br>


<form  method="POST">

  {% csrf_token %}

  <div class="row pt-3">

    <div class="col-4 text-center">

      {{form|crispy}}

    </div>
    <div class="col">
      <button class="btn btn-outline-success" type="submit">Save</button>
    </div>

  </div>
  {% if error_msg_1 %}
  <div class="alert alert-warning" role="alert">{{error_msg_1}}</div>
  {% endif %}

</form>


<div class="album py-5 bg-light pt-3">
  <div class="container">


    <div class="row">

      {% for city in city_info %}

      <div class="col-md-3" onclick="window.location='{% url 'forecast' city.city_name %}';" style="cursor: pointer;">
        <div class="card mb-4 shadow-sm">
          <div class="media-right">
            <a href="{% url 'delete' city.city_id %}">
              <button type="button" class="close"  aria-label="Close" style="padding:0.14em;"><span aria-hidden="true" >&times;</span></button>
            </a>
          </div>
          <div class="col">
            <img src='http://openweathermap.org/img/w/{{ city.icon }}.png' alt="Card image cap"  height="50" /><h1> {{ city.temperature }}° C </h1>
          </div>

          <div class="card-body">
            <h4 class="card-text"> {{ city.city_name }} </h4>

            <p class="card-text"> {{ city.description }} </p>

          </div>

        </div>
      </div>
      {% empty %}
      <div class="container-fluid text-center">
        <h7>You have no cities to display, add your city.</h7>
      </div>

      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}
